.header-container {
    padding: 0;
    left: 0;
    position: absolute;
    height : 100px;
    width: 100vw;
}

.header-logo {
    margin-top: 5px;
    padding-left: 9rem;
    position: absolute;
    
    img{
        width: 9.25rem;
        height: 5rem;
    }
}

.click-button {
    position: absolute;
    margin-left: 1200px;
    margin-top: 25px;
    height: 35px;
    width: 90px;
    background-color: rgb(229,9,20);
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px; 
    justify-content: center;
}